<header class="header">
  <div class="container">
      <nav class="menu">
          <div class="menu-logo">
              <img src="assets/images/logo.svg" alt="logo">
          </div>
          <div class="menu-actions">
              <div class="menu-text">
                  <a href="#" class="menu-text-d">Главная</a>
              </div>
              <div class="menu-text">
                  <a href="#auto" class="menu-text-d" (click)="navigationScroll(auto)" >Автомобили</a>
              </div>
              <div class="menu-text">
                  <a href="#rent" class="menu-text-d" (click)="navigationScroll(rent)">Бронирование авто</a>
              </div>
          </div>
      </nav>
  </div>
</header>

<section class="main" (mousemove)="navScroll()" [ngStyle]="bgPos">
  <div class="container">
      <h1 class="main-title">Аренда премиальных автомобилей</h1>
      <div class="main-text">
          В нашем клубе имеется солидная коллекция спортивных автомобилей — от достаточно распространенных серийных машин до настоящего гоночного эксклюзива. Воспользуйтесь уникальной возможностью побывать за рулем настоящей легенды и узнать, на что она способна за пределами гоночной трассы!
      </div>
      <div>
          <button class="button" id="button" (click)="goScroll(cars)">
              Посмотреть автомобили
          </button>
      </div>
  </div>
</section>

<section class="car" id="auto" #cars #auto>
  <div class="container">
      <h2 class="car-title">
          Наш автопарк
      </h2>
      <div class="car-toggle">
        <div [ngClass]="{active: category === 'sport'}" (click)="toggleCategory('sport')">Sport</div>
        <div [ngClass]="{active: category === 'luxury'}" (click)="toggleCategory('luxury')">Luxury</div>
      </div>
      <div class="car-items car-button" id="car-items">
          <div class="car-item" *ngFor="let car of carsData">
              <div class="car-image">
                  <img src="{{car.image}}" alt="image1">
              </div>
              <div class="car-name">{{car.name}}</div>
              <div class="car-description">
                  <div class="car-description-img">
                      <img src="assets/images/transmission.png" alt="gaer">
                      <div> <strong>Коробка<br> </strong>автомат</div>
                  </div>

                  <div class="car-description-img">
                      <img src="assets/images/Group.svg" alt="gaer">
                      <div> <strong>Двигатель</strong><br>{{car.engine}} л.с.</div>
                  </div>

                  <div class="car-description-img">
                      <img src="assets/images/year.png" alt="gaer">
                      <div> <strong>к-во мест</strong><br>{{car.places}}</div>
                  </div>
              </div>
                  <div>
                      <button class="button" (click)="goScroll(price, car)">
                          Забронировать
                      </button>
                  </div>
          </div>
      </div>
  </div>
</section>

<section class="price" id="rent" #price #rent>
  <div class="container price-container ">
      <h2 class="car-title car-price">
          Узнать цену и забронировать
      </h2>
      <div class="price-text">
          Заполните данные, и мы перезвоним вам для уточнения всех деталей бронирования
      </div>
      <form class="price-form" [formGroup]="priceForm">
          <input
              type="text"
              class="price-input"
              id="name"
              placeholder="Ваше имя"
              required
              formControlName="name"
          >
          <input
              type="tel"
              class="price-input"
              id="number"
              placeholder="Ваш телефон"
              required
              formControlName="phone"
          >
          <input
              type="text"
              class="price-input"
              id="auto"
              placeholder="Автомобиль, который вас интересует"
              formControlName="car"
              >

          <button
              class="button"
              id="price-button"
              (click)="onSubmit()"
              [disabled]="!priceForm.valid"
              >
                Узнать цену
          </button>
      </form>
      <img
        src="assets/images/rolls.png"
        alt="rolls"
        class="price-image"
        (mousemove)="rollsScroll()"
        [ngStyle]="trans"
      >
  </div>

</section>

<footer class="footer">
  <div class="container">
      <div class="footer-flex">
          <div class="menu-logo">
              <a href="#">
                  <img src="assets/images/logo.svg" alt="logo">
              </a>
          </div>
          <div class="footer-text">
              Все права защищены
          </div>
      </div>
  </div>


</footer>
